* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .background {
    position: relative;
    width: 1024px;
    height: 768px;
    background-color: #3498db;
  }
  
  .draggable {
    cursor: pointer;
    width: 100px;
    height: 100px;
  }
  